@font-face {
  font-family: 'RobotoCondensed';
  src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../assets/fonts/RobotoCondensed-Bold.ttf');
}
